version: '3.8'

services:
  app:
    image: 883105810904.dkr.ecr.ap-northeast-2.amazonaws.com/backend-portfolio:latest
    container_name: home-app
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: jdbc:postgresql://${RDS_HOST}/home
      SPRING_DATASOURCE_USERNAME: home_user
      SPRING_DATASOURCE_PASSWORD: ${RDS_PASSWORD}
      JAVA_OPTS: "-Xms256m -Xmx512m"
    restart: unless-stopped

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    ports:
      - "3001:3000"
