spring:
  batch:
    jdbc:
      initialize-schema: always
  datasource:
    url: jdbc:postgresql://${DB_HOST:postgres}:5432/home?reWriteBatchedInserts=true
    username: home_user
    password: ${DB_PASSWORD:home1234}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 32

  jpa:
    defer-datasource-initialization: false
    hibernate:
      ddl-auto: none

server:
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: always
    include-exception: true

logging:
  level:
    root: info
