spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:postgresql://${RDS_HOST:localhost}:5432/home
    username: home_user
    password: ${RDS_PASSWORD:home1234}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 32

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    open-in-view: false
