spring:
  datasource:
    url: jdbc:postgresql://${RDS_HOST}:5432/home?reWriteBatchedInserts=true
    username: home_user
    password: ${RDS_PASSWORD:home1234}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 32

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: none

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  error:
    include-message: never
    include-binding-errors: never
    include-stacktrace: never
    include-exception: false

logging:
  level:
    root: warn
