spring:
  batch:
    jdbc:
      initialize-schema: never
  datasource:
    url: jdbc:postgresql://${RDS_HOST}:5432/home?reWriteBatchedInserts=true
    username: home_user
    password: ${RDS_PASSWORD:home1234}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 32

  jpa:
    hibernate:
      ddl-auto: none

  flyway:
    enabled: true
    locations:
      - classpath:db/migration/common
      - classpath:db/migration/api

server:
  error:
    include-message: never
    include-binding-errors: never
    include-stacktrace: never
    include-exception: false

logging:
  level:
    root: warn

management:
  endpoints:
    web:
      exposure:
        include: "health,metrics,info,prometheus"
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: home-app

slack:
  webhook-url: ${SLACK_WEBHOOK_URL:}
